venv/
completionist/backend/.env
completionist/android/app/debug.keystore
completionist/ios/GoogleService-Info.plist
completionist/.env
completionist/package-lock.json
completionist/.env.d.ts
completionist/test.json
completionist/backend/package-lock.json
completionist/ios/GoogleService-Info.plist
completionist/package-lock.json
completionist/android/app/google-services.json
completionist/android/app/debug.keystore
.DS_Store
